// Chakra UI Purple
$Purple50: #FAF5FF;
$Purple100: #E9D8FD;
$Purple200: #D6BCFA;
$Purple300: #B794F4;
$Purple400: #9F7AEA;
$Purple500: #805AD5;
$Purple600: #6B46C1;
$Purple700: #553C9A;
$Purple800: #44337A;
$Purple900: #322659;

$DarkGrey: #252a47;

// Media Breakpoints
$tablet: 700px;
$desktop: 1080px;