@use "./variables" as *;
@use "./mixins" as *;
@use "./globals";

.app {
  max-width: 1080px;
  padding: 1rem 1rem 4rem 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.input {
  padding: .5rem .5rem;
  width: 100%;

  @include fontFamily-text;
  font-size: 1.5rem;
  text-align: center;
  background-color: $Purple500;
  color: $Purple800;

  border: 1px solid $Purple500;
  border-radius: .3rem;
  outline: none;
  box-shadow: 0 .1rem .1rem .1rem rgba($Purple900, 0);
  transition: all .25s;

  &:focus {
    outline: none;
    background-color: $Purple100;
    box-shadow: 0 .2rem .4rem .2rem rgba($Purple900, .5);
  }

  &__singleLetter {
    @extend .input;
    width: 3rem;
  }

  &__multiLetter {
    @extend .input;
    width: 18%;
  }
}

.box {
  margin-bottom: 1.5rem;

  &__results {
    border-top: 2px solid $Purple500;
    padding-top: 1.5rem;
  }
}

.checkboxesContainer {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.checkboxAndLabel {
  position: relative;
  margin-top: 0.25rem;
  @include tablet {
    margin-top: 0;
    margin-right: 1.5rem;
  }

  // Hides native checkbox
  & input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }

  & .textLabel {
    padding-left: 1.75rem;
    @include tablet {
      padding-left: 2rem;
    }

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &:hover .checkmark {
    // Checkbox background on hover
    background-color: $Purple200;
  }
  & input:checked ~ .checkmark {
    // Checkbox background when checked
    background-color: $Purple500;
  } 
  & input:checked ~ .checkmark::after {
    // Display custom checkmark when checked.
    display: block;
  }
  & .checkmark::after {
    // Drawn custom checkmark.
    left: .45rem;
    top: .2rem;
    width: .35rem;
    height: .65rem;
    @include tablet {
      width: .45rem;
      height: .75rem;
      left: .6rem;
      top: .3rem;
    }

    // Colour of checkmark
    border: solid $Purple50;
    // Stroke weight of checkmark
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  // Checkbox background when un-checked
  background-color: $Purple100;

  height: 1.2rem;
  width: 1.2rem;
  border-radius: .2rem;
  @include tablet {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: .25rem;
  }

  // This IS the custom checkmark.
  // Hide it when not checked.
  &::after {
    content: "";
    position: absolute;
    display: none;
  }  
}

.textLabel {
  font-family: sans-serif;
  @include fontFamily-headline2;
  font-size: 1.3rem;
  display: inline-block;
  margin-bottom: .5rem;
  
  @include tablet {
    font-size: 1.6rem;
  }
}

.subheading {
  @include fontFamily-headline2;
  font-size: 1.4rem;
}

.prefix {
  display: inline-block;
  margin-right: .5rem;
  font-size: 0.9em;

  &__green::before {
    @extend .prefix;
    content: "🟩";
  }

  &__yellow::before {
    @extend .prefix;
    content: "🟨";
  }

  &__black::before {
    @extend .prefix;
    content: "⬛️";
  }

  &__mainTitle::before {
    @extend .prefix;
    content: "🔮";
  }
}

.footer {
  &__sticky {
    z-index: 1;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
  
    display: grid;
    place-items: center;
  }

  &__container {
    padding: 4rem 1rem;

    background: $DarkGrey;
    @include fontFamily-text;
    font-size: 1.1rem;
  
    @include tablet {
      font-size: 1.3rem;
    }
  }
  
  &__text {
    margin-bottom: .5rem;

    &--link {
      @extend .footer__text;
      padding-bottom: .15rem;
      border-bottom: 2px solid $Purple400;
      transition: all .2s;
  
      &:hover {
        color: $Purple300;
        border-bottom: 2px solid rgba($Purple400, 0);
      }
    }
  }

  &__footnoteContainer {
    margin-top: 0.5rem;
    border-top: 2px dashed $Purple700;
    padding-top: 0.8rem;
  }
}

.footnote {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.3;
  margin-bottom: .4rem;
  @include tablet {
    line-height: 1.2;
    margin-bottom: .25rem;
  }

  & a {
    padding-bottom: .08rem;
  }
}